* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 3em;
  grid-gap: 2em;
}

.container p {
  padding: 2em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.195);
  border-radius: .3em;
}

