.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1 1 100px;
}

.flex {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.flex-basis {
  flex-basis: 100px;
}

.wrap {
  flex-wrap: wrap;
}

.item {
  flex: 1;
}

.item.item1 {
  order: 1;
}

.item.item2 {
  order: 2;
}
.item.item3 {
  order: 3;
}