@media  (max-width:425px) { 

  .cabecalho .logo {
    display: block;
    margin: 0 auto;
  }
  
  .cabecalho nav {
    position: static;
    display: block;
    text-align: center;
  }

  .cabecalho ul li {
    display: block;
  }

  .cabecalho ul li a {
    width: 100%;
  }

}
