@media (max-width:992px) {
  .secao-com-texto {
    padding: 153px 25px;
  }

  .secao-com-texto p,
  .secao-com-texto.onde-estamos p {
    width: 100%;
  }



} 


@media  (max-width:425px) { 

  .cabecalho .logo {
    display: block;
    margin: 0 auto;
  }
  
  .cabecalho nav {
    position: static;
    display: block;
    text-align: center;
    width: 100%;

  }

  .cabecalho ul li {
    display: block;
  }

  .cabecalho nav ul li a {
    display: block;
    width: 100%;
  }

  .painel h2 {
    font-size: 2.5rem;
  }

  .secao-com-texto h2 {
    font-size: 3rem;
  }
  
  .secao-com-texto p {
    font-size: 2rem;
  }

  .ladrilhos div {
    display: block;
  }



  }