@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.6rem;
}

.cabecalho {
  background-color: rgb(89, 47, 47);
  padding: 30px 15px;
  position: relative;
}

.logo {
  background: url(../images/logo.jpg) center center no-repeat;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: inline-block;
}

.cabecalho h1 {
  font-size: 0;
}

.cabecalho nav {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 30px;
}

.cabecalho ul li {
  padding: 15px;
  display: inline-block;
}

.cabecalho ul li a {
  letter-spacing: 1px;
}

.cabecalho ul li a:hover {
  font-weight: bold;
  transition: 0.5s;
}

.painel {
  background: url(../images/painel.jpg) center center no-repeat;
  height: 600px;
}

.painel h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.secao-com-texto {
  padding: 153px;
  text-align: center;
  clear: both;
}


.secao-com-texto header img {
  height: 170px;
  width: 170px;
  
  margin-bottom: 70px;
}

.secao-com-texto h2 {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 37px;
}

.secao-com-texto p {
  margin: 153px auto;
  font-size: 18px;
  width: 702px;
}

.secao-com-texto.onde-estamos p {
  font-size: 28px;
  width: 300px;
}

.ladrilhos div {
  float: left;
}


.ladrilhos .grande {
  background: url(../images/4.jpg) right center no-repeat;
  height: 600px;
  width: 50%;
  display: inline-block;
}

.ladrilhos .pequena {
  background: url(../images/3.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}

.ladrilhos .pequena.grao {
  background: url(../images/2.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}


.medio {
  background: url(../images/1.jpg) center center no-repeat;
  height: 300px;
  width: 50%; 
}

.contato {
  position: relative;
  background: url(../images/fundo-contato.jpg) center center no-repeat;
  height: 600px; 
  color: #fff;
}

.contato .texto-contato {
  position: absolute;
  top: 30%;
  left: 50%;
}

.contato h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contato address {
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
}

.rodape {
  background: url(../images/fundo-rodape.jpg) center center no-repeat;
  background-size: cover;
  padding: 35px 30px;
}

.rodape ul {
  float: right;
  margin-top: 30px;
}

.rodape ul li {
  display: inline-block;
  padding: 15px;
}

.rodape ul li a {
  color: #fff;
}

.rodape ul li a:hover {
  font-weight: bold;
  transition: 0.5s;
}

.rodape .copyright {
  color: #fff;

}

.rodape .redes-sociais .facebook,
.rodape .redes-sociais .instagram {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.facebook:hover, 
.instagram:hover {
  transform: scale(1.2);
  transition: 0.5s;
}


.rodape .redes-sociais {
  float: right;
  clear: both;
}

.conteudo-copyright-facebook-instagram {
  margin-top: 40px;
}