* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}

div.produto {
  background-color: darkgray;
  
}


div.produto span{
  font-weight: bold;
  font-size: 1.2em;
  color: darkred;

}