@media (max-width: 768px) {
  .logo {
    width: 100%;
    margin: 50px auto;
    flex-direction: row;
    justify-content: center;
  }

  nav {
    margin: auto;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 10px;
  }

  .logo {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .logo h1 {
    font-size: 40px;
  }


  .menu {
    flex-direction: column;
    text-align: center;
  }

  .menu li {
    margin-top: 50px;
  } 

  .menu li a {
    font-size: 40px;
    width: 100%;
    margin: 0;
    display: block;
  }
}
