@media (max-width: 765px) {
  .header {
    padding: 47px;
    flex-direction: column;
  }
  .logo h1 {
    font-size: 40px;
    margin-left: 8px;
  }

  nav {
    margin: auto;
  }

  .menu {
    flex-direction: column;
    text-align: center;
  }

  .menu li {
    margin-top: 50px;
  }

  .menu li:last-child {
    margin-top: 66px;
  }

  .menu li a {
    font-size: 40px;
    margin: 0;
    padding: 17px 40px;
  }

  .menu li a.btn {
    padding: 15px 20px;
    font-size: 18px;
  }
}
