.header {
  padding: 45px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 20px;
  margin-left: 5px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li a {
  font-weight: 400;
  font-size: 15px;
  margin-left: 30px;
  padding: 10px 5px;
  transition: 0.5s ease-in-out;
}

.menu li a:hover {
  background-color: #5bc241;
  color: #ffffff;
}

.menu li a.btn {
  background-color: #5bc241;
  color: #ffffff;
  padding: 10px 21px;
  border-radius: 10px;
}
