* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid:
    'cabecalho cabecalho cabecalho' 100px
    'menu secao-principal aside' 200px
    'rodape rodape rodape' 70px / 200px auto 150px ; 
}

.cabecalho {
  background-color: orange;
  grid-area: cabecalho;
}

.menu {
  background-color: seagreen;
  grid-area: menu;
}

.secao-principal {
  background-color: hotpink;
  grid-area: secao-principal;
}

.aside {
  background-color: yellow;
  grid-area: aside;
}

.rodape {
  background-color: coral;
  grid-area: rodape;
}
