* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(51, 51, 83);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  height: 689px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.titulos-e-nomes {
  max-width: 100%;
  height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

h2 {
  color: rgba(255, 255, 255, 0.748);
  font-size: 17px;
  font-weight: 300;
}

.image-rome,
.image-boat,
.image-sand-sea,
.image-starry-night {
  width: 335px;
  height: 432px;
  background-size: cover;
  margin: 2px;
}

.image-rome {
  background: url(../imgs/rome.png);
}

.image-boat {
  background: url(../imgs/boat.png);
}

.image-sand-sea {
  background: url(../imgs/sand-and-sea.png);
}

.image-starry-night {
  background: url(../imgs/starry-night.png);
}

@media (max-width: 1100px) {
  .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 0px;
    flex: 1;
  }

  .image-rome,
  .image-boat,
  .image-sand-sea,
  .image-starry-night {
    width: 335px;
    height: 432px;
    background-size: cover;
    margin: auto;
  }
}
