body {
  background-color: rgb(76, 76, 109);
}

h1 {
  color: rgb(16, 16, 34);
}

/*
 1 - A primeira com mininmo de 100px e máximo de 800px
 2- A segunda e a terceira (repeat) com o minimo de 100px e maximo de 300px
 3- Quarta coluna com auto no min e no max vai se adequar ao restande do container
 */

.container {
  display: grid;
  grid-template-columns: minmax(100px, 800px) repeat(2, minmax(200px, 300px)) minmax(
      auto,
      auto
    );
}

.container div {
  border: 1px solid #000;
  background-color: rgb(135, 135, 233);
  padding: 10px;
}
