
body {
  background-color: rgb(76, 76, 109);
}

h1 {
  color: rgb(16, 16, 34);
}

.container {
  display: grid;
  grid-template-columns: minmax(100px, 800px) repeat(2, minmax(200px, 300px)) minmax(auto, auto);
}


.container div {
  border: 1px solid #000;
  background-color: rgb(135, 135, 233);
  padding: 10px;
}
