* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E1E2E1;
}

.cabecalho {
  padding: 10px 5px;
  background-color: skyblue;
  
}

.cabecalho .logo {
  display: inline-block;
}

.cabecalho nav {
  float: right;
}

.cabecalho nav li {
  display: inline-block;
  padding: 15px;
}

main {
  background-color: #fff;
  padding: 30px;

  min-width: 280px;
  max-width: 800px;
  margin: 0 auto;
}

main .info {
  font-size: 18px;
}

main p {
  font-size: 16px;
}

.image img {
  width: 100%;
  margin-top: 20px;
}

@media (max-width:576px) {

  .cabecalho {
    text-align: center;  
  }

  .cabecalho nav {
    float: none;
  }

  .cabecalho nav li {
    display: block;

  }

}