* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 35px;
}

.container {
  display: grid;
  grid-template-columns: 65% auto;
  column-gap: 17px;
}

.destaque .video {
  max-width: 100%;
  height: 400px;
  background-color: lightgrey;
}

.destaque h1 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 12px;
}

.destaque h3 {
  font-size: 14px;
  margin-top: 7px;
}

.destaque p {
  margin-top: 9px;
}

.propaganda {
  background-color: lightgrey;
  /* width: 270px; */
  height: 56px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-aside {
  width: 170px;
  height: 120px;
  background-color: lightgrey;
}

.container-informacoes {
  margin-top: 7px;
  display: flex;
}

.informacoes-aside {
  margin-left: 7px;
}

.informacoes-aside h1 {
  font-size: 18px;
}

.informacoes-aside h3 {
  font-size: 14px;
}

.informacoes-aside h4 {
  font-size: 12px;
}

